@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');



body {
    background-image: url(../img/decors.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

form {
    margin-bottom: 20px;
}

.fight-button {
    padding: 10px 20px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.fight-button:hover {
    background-color: #ffbf00;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 80%;
    margin-top: 20%;
    position: relative;
}

.hero, .monster {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero-image, .monster-image {
    width: 400px;
    height: auto;
    animation: bounce 1.5s infinite;
}

.character-info {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffbf00;
    text-shadow: 1px 1px 2px black;
    font-family: "Nosifer", serif;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
